<!doctype html>
<html th:lang="${#locale.language}"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Customer List</title>

    <!-- Turkce karakter -->
    <meta charset="utf-8">

    <!-- responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- seo -->
    <meta name="keywords" content="html5,css3,js,jquery,bootstrap,react,javase" />
    <meta name="description" content="Customer List" />
    <meta name="author" content="Hamit Mızrak" />

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <!-- jquery  -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- react libraries -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- external Css-->
    <link rel="stylesheet"   th:href="@{/css/style.css}">

    <!-- external JS-->
    <script th:src="@{/js/template.js}"></script>

    <!-- datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
</head>

<body class="container">
<!-- start codes -->

<div th:if="${customer_list}!=null"
    class="alert alert-warning alert-dismissible fade show mt-5 mb-3"
    role="alert">
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
    ></button>
    <strong th:text="${modelAttributesTemp}" ></strong>
</div>

<h1 class="text-primary mt-3">Customer List</h1>
<a th:href="@{/customer/mvc/v1/create}" class="btn btn-primary">VERİ EKLE</a>
<a th:href="@{/customer/mvc/v1/speed}" href="" class="btn btn-secondary">HIZLI VERİ EKLE</a>
<a th:href="@{/customer/mvc/v1/deleteAll}" class="btn btn-danger">BÜTÜN VERİLERİ SİL</a>

<!--Eğer Listede Herhangi bir veri yoksa Listeyi gösterme-->
<div th:if="${customer_list}!=null" class="container mt-3 mb-3">
    <!--TABLE-->
<table class="table table-striped table-bordered table-hover"
id="datalistregisterTable"
>

<!-- TABLE- HEAD -->
<thead>
    <tr>
        <th class="text-uppercase" th:text="#{customer.id}"></th>
        <th class="text-uppercase" th:text="#{customer.name}"></th>
        <th class="text-uppercase" th:text="#{customer.surname}"></th>
        <th class="text-uppercase" th:text="#{customer.email}"></th>
        <th class="text-uppercase" th:text="#{customer.password}"></th>
        <th class="text-uppercase" th:text="#{customer.date}"></th>
        <th class="text-uppercase" th:text="#{update}"></th>
        <th class="text-uppercase" th:text="#{show}"></th>
        <th class="text-uppercase" th:text="#{delete}"></th>
    </tr>
</thead>
    <!--
    private Long id;
    private String customerName;
    private String customerSurname;
    private String customerEmail;
    private String customerPassword;
    private Date createdDate;
    -->

<!-- BODY -->
 <tr th:if="${custList.id>0}" th:each="custList:${customer_list}">
    <td th:text="${custList.id}"></td>
    <td th:text="${custList.customerName}"></td>
    <td th:text="${custList.customerSurname}"></td>
    <td th:text="${custList.customerEmail}"></td>
    <td th:text="${custList.customerPassword}"></td>
    <td th:text="${custList.createdDate}"></td>

    <!-- Link: update -->
    <td>
        <a th:href="@{/customer/mvc/v1/update/{id}(id=${custList.id})}" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </td>

    <!-- Link: show -->
    <td>
        <a th:href="@{/customer/mvc/v1/find/{id}(id=${custList.id})}" class="btn btn-warning">
            <i class="fa-solid fa-binoculars"></i>
        </a>
    </td>

    <!-- Link: delete -->
    <td>
        <a th:href="@{/customer/mvc/v1/delete/{id}(id=${custList.id})}" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>
        </a>
    </td>
 </tr>
</table>
</div>


<!-- ends codes -->
<!-- dataTables JS: paging and sorting -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $("#datalistregisterTable").DataTable({
        'aoColumnDefs': [{
            'bSortable': false,
            'aTargets': [-1] /* 1st one, start by the right */
        }]
        });
    })
</script>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

<!--  Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    function deleteSweetAlertRegister(url) {
        swal({
            title: "Silmek istediğinizden emin misiniz?",
            text: "Silindikten sonra tekrar geri alınamaz.",
            icon: "warning",
            buttons: ["İptal", "Sil"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Kayıt başarılı bir şekilde silindi.", {
                        icon: "success",
                    });
                    window.location.href = url;
                } else {
                    swal("İptal edildi.", {
                        icon: "warning",
                    });
                }
            });
    }
</script>
</body>
</html>
